<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>engolf.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2DF9DE09C16DC996829524117A32EB18F02062D0</string>
				<key>dateExpires</key>
				<string>3/24/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DF9DE09C16DC996829524117A32EB18F02062D0</string>
						<key>dateExpires</key>
						<string>3/24/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DS9KZT92KD</string>
						<key>name</key>
						<string>TEPPEI KIKUCHI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DF9DE09C16DC996829524117A32EB18F02062D0</string>
						<key>dateExpires</key>
						<string>3/24/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DS9KZT92KD</string>
						<key>name</key>
						<string>TEPPEI KIKUCHI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DF9DE09C16DC996829524117A32EB18F02062D0</string>
						<key>dateExpires</key>
						<string>3/24/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DS9KZT92KD</string>
						<key>name</key>
						<string>TEPPEI KIKUCHI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DF9DE09C16DC996829524117A32EB18F02062D0</string>
						<key>dateExpires</key>
						<string>3/24/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DS9KZT92KD</string>
						<key>name</key>
						<string>TEPPEI KIKUCHI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DF9DE09C16DC996829524117A32EB18F02062D0</string>
						<key>dateExpires</key>
						<string>3/24/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DS9KZT92KD</string>
						<key>name</key>
						<string>TEPPEI KIKUCHI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DF9DE09C16DC996829524117A32EB18F02062D0</string>
						<key>dateExpires</key>
						<string>3/24/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DS9KZT92KD</string>
						<key>name</key>
						<string>TEPPEI KIKUCHI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DF9DE09C16DC996829524117A32EB18F02062D0</string>
						<key>dateExpires</key>
						<string>3/24/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>arkit_plugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DS9KZT92KD</string>
						<key>name</key>
						<string>TEPPEI KIKUCHI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DF9DE09C16DC996829524117A32EB18F02062D0</string>
						<key>dateExpires</key>
						<string>3/24/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DS9KZT92KD</string>
						<key>name</key>
						<string>TEPPEI KIKUCHI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DF9DE09C16DC996829524117A32EB18F02062D0</string>
						<key>dateExpires</key>
						<string>3/24/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DS9KZT92KD</string>
						<key>name</key>
						<string>TEPPEI KIKUCHI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DF9DE09C16DC996829524117A32EB18F02062D0</string>
						<key>dateExpires</key>
						<string>3/24/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DS9KZT92KD</string>
						<key>name</key>
						<string>TEPPEI KIKUCHI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2DF9DE09C16DC996829524117A32EB18F02062D0</string>
						<key>dateExpires</key>
						<string>3/24/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DS9KZT92KD</string>
						<key>name</key>
						<string>TEPPEI KIKUCHI</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>DS9KZT92KD.com.tetsukick.engolf</string>
				<key>com.apple.developer.team-identifier</key>
				<string>DS9KZT92KD</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>DS9KZT92KD.com.tetsukick.engolf</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>06ec1358-4715-4d3b-9d34-1a358393f6e4</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.tetsukick.engolf</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>DS9KZT92KD</string>
				<key>name</key>
				<string>TEPPEI KIKUCHI</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
